body {
  margin: 0;
}

#main {
  width: 100%;
  height: 200vh;
  background: url("https://consumer-img.huawei.com/content/dam/huawei-cbg-site/common/mkt/pdp/phones/p30-pro/img/camera-intro/pic_idDesign_md@2x.jpg")
    top right no-repeat;
  background-size: cover;
  position: relative;
}

section {
  margin: 0 auto;
  position: absolute;
  object-position: center top;
  width: 100%;
  transition: all 5s ease-out 0s;
}

.text {
  padding-top: 50px;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 46px;
  color: #01060a;
}
p {
  text-align: center;
  color: #00080f;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 40%;

  border: 2px solid black;
  margin: auto;
  background-color: rgb(32, 25, 100);
  margin-top: 20px;
  color: aliceblue;
}

.form {
  margin: 30px 0;
}

.field-label {
  display: block;
  text-align: left;
  margin-left: 20px;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input {
  width: 90%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: large;
}

#survey-form {
  text-align: center;
}

#select {
  display: inline-block;
  box-sizing: border-box;
  width: 95%;
  height: 38px;
  padding-left: 10px;
  padding-right: 25px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
}

.radio-btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  display: inline-block;
  box-sizing: border-box;
  width: 95%;
  height: 38px;
  padding-left: 10px;
  margin-top: 10px;
  text-align: left;
}

.radioo {
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma;
  padding-left: 20px;
}

#maybe,
#definitely,
#not-sure {
  position: absolute;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
}

.radioo label {
  position: absolute;
  left: 50px;
}

.field-span1 {
  display: block;
  text-align: left;
  margin-left: 20px;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#form1 {
  margin-top: 40px;
}

.form-group {
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma;
}

.checkbox-group {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  margin-left: 15px;
}

.form-group p {
  display: block;
  color: white;
  font-family: Verdana, Geneva, Tahoma;
  font-size: larger;
  text-align: start;
  margin-left: 15px;
  margin-bottom: 20px;
}

#comments {
  min-height: 100px;
  width: 90%;
  padding: 0.625rem;
  resize: vertical;
  border-radius: 5px;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma;
  margin-left: 15px;
}

#submit {
  display: block;
  width: 94%;
  padding: 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(37, 180, 92);
  margin-bottom: 50px;
  margin-left: 15px;
  color: white;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma;
}
